* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

li {
    list-style: none;
}

main {
    height: 100vh;
}

a {
    text-decoration: none;
}

.delete {
    border: 3px solid brown;
    background-color: brown;
    color: wheat;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 10px;
}

.buttons button {
    border: 1px solid #8E24AA !important;
    height: auto;
    width: 20vw;
}

.buttons button:hover {
    border: 1px solid #8E24AA !important;
    height: auto;
    width: 20vw;
    text-decoration: underline;
}

footer {
    color: wheat;
    background-color: #0a4275;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2 {
    display: flex;
    margin-left: 5%;
    flex-direction: row;
}

.footer2 .link {
    margin-right: 5rem;
}

.link {
    color: white;
}

.link:hover {
    color: white;
}

.Formulaire {
    background-color: red;
    padding: 2em;
}